APP_NAME=Borax Detection API
MODEL_PATH=../../borax_cnn_model.h5
MODEL_CLASS_NAMES=0ppm,100ppm,250ppm,500ppm,750ppm,1000ppm,1250ppm,1500ppm,1750ppm,2000ppm
ESP32_CAMERA_URL=http://192.168.1.20/capture
HF_SPACE_ID=Hara25/detection-boraks-esp32cam
HF_API_URL=
HF_API_NAME=/predict
HF_API_TIMEOUT=60
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_BUCKET=borax-detection-images
ENABLE_SUPABASE=false
ENABLE_MEMORY_HISTORY=true
MEMORY_HISTORY_LIMIT=100
