APP_NAME=Borax Detection API
MODEL_PATH=../../borax_cnn_model.h5
MODEL_CLASS_NAMES=0ppm,100-250ppm,500-1000ppm,1250-1500ppm,1750-2000ppm
ESP32_CAMERA_URL=http://192.168.1.20/capture
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_BUCKET=borax-detection-images
ENABLE_SUPABASE=false
